<h1>Datasets</h1>

<% @datasets.each do |ds| %>
  <p><%= link_to(ds.title, dataset_path(ds)) %> (<%= ds.created_by_user.uid %>)</p>
<% end %>

<div>
  <%= link_to "New Dataset", new_dataset_path, class: "btn btn-primary" %>
</div>
<hr />
