<div class="section-title">
  <!-- Keywords field -->
  <div class="field">
    Keywords: <span class="text-muted field-hint">(enter keywords, e.g. Humanities, Life Sciences)</span><br>
    <input type="text" id="keywords" name="keywords" class="input-text-long" value="<%= @work.resource.keywords.join(', ') %>" />
  </div>
</div>

<%= render(partial: 'works/related_objects_table') %>

<%= render(partial: 'works/contributors_table') %>
