<div class="section-title">
  <!-- DOI field (mostly for legacy DSpace works) -->
  <div class="field">
    DOI <span class="text-muted field-hint">(enter the Digital Object Identifier, e.g. 10.80021/62qy-nj36)</span><br>
    <%= @work.doi %>
  </div>

  <!-- ARK field (mostly for legacy DSpace works) -->
  <div class="field">
    ARK <span class="text-muted field-hint">(enter the core ARK identifier, e.g. ark:/88435/xyz123)</span><br>
    <%= @work.ark %>
  </div>
</div>
