<div class="section-title">
  <!-- DOI field (mostly for legacy DSpace works) -->
  <div class="field">
    DOI <br>
    <%= @work.doi %>
  </div>

  <!-- ARK field (mostly for legacy DSpace works) -->
  <div class="field">
    ARK <br>
    <%= @work.ark %>
  </div>
</div>
