<!-- This div holds the actual tabs content (displayed on the right) -->
<div class="tab-content" id="v-pills-tabContent">

    <!-- tab: required fields -->
    <div class="tab-pane fade" id="v-pills-required" role="tabpanel" aria-labelledby="v-pills-required-tab">
    <%= form.hidden_field :work_id %>
    <%= render '/works/required_form' %>
    </div>

    <!-- tab: additional fields -->
    <div class="tab-pane show fade active" id="v-pills-additional" role="tabpanel" aria-labelledby="v-pills-additional-tab">
    <%= render '/works/additional_form' %>
    </div>

    <!-- tab: curator controlled fields -->
    <div class="tab-pane fade" id="v-pills-curator-controlled" role="tabpanel" aria-labelledby="v-pills-curator-controlled-tab">
    <%= render '/works/curator_controlled_form', is_group_admin: current_user.has_role?(:group_admin, @work.group) %>
    </div>

</div>
