<% if @work.errors.any? %>
<div id="error_explanation" class="error_box">
  <h2><i class="bi bi-exclamation-triangle-fill" style="color: red"></i>
    <%= pluralize(@work.errors.count, "error") %> prohibited this dataset from being saved:</h2>
  <ul>
    <% @work.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
