<div class="section-title">
  <b>Funding Reference</b>
  <div class="field">
    Funder Name<br>
    <input type="text" id="funder_name" name="funder_name" class="input-text-long" value="<%= @work.resource.funder_name %>"
      placeholder="The name of the funder. (Example: National Science Foundation)" />
  </div>
  <div class="field">
    Award Number<br>
    <input type="text" id="award_number" name="award_number" class="input-text-long" value="<%= @work.resource.award_number %>"
      placeholder="The grant number or funding code for your award" />
  </div>
  <div class="field">
    Award URI<br>
    <input type="text" id="award_uri" name="award_uri" class="input-text-long" value="<%= @work.resource.award_uri %>"
      placeholder="The URL web address for your award" />
  </div>
</div>
