<!-- Funding section -->
<details><summary>Funding Reference</summary>
  Please enter the names of any sponsoring agencies and the applicable grant numbers or funding codes that should be associated with this item.
  <ul>
    <li>Funder Name: The name of the funder. (Example: National Science Foundation)</li>
    <li>Award Number: The grant number or funding code for your award</li>
    <li>Award URI: The URL web address for your award</li>
  </ul>
</details>


<table>
  <thead>
    <tr>
      <th>Funder Name</th>
      <th>Award Number</th>
      <th>Award URI</th>
    </tr>
  </thead>
  <tbody>
    <% (@work.resource.funders + [nil]).each do |funder| %>
      <tr>
        <td>
          <input name="funders[][funder_name]" value="<%= funder&.funder_name %>" />
        </td>
        <td>
          <input name="funders[][award_number]" value="<%= funder&.award_number %>" />
        </td>
        <td>
          <input name="funders[][award_uri]" value="<%= funder&.award_uri %>" />
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <button class="btn btn-secondary btn-add-row">
          Add Another Funder
        </button>
      </td>
    </tr>
  </tfoot>
</table>
