<!-- Related Objects section -->
<div class="section-title">
  <b>Related Objects (i.e., published dependencies)</b>
</div>

  <div class="related_identifier">
    Related Identifier: <span class="text-muted field-hint">(Example: URI for a related publication or resource)</span><br>
    <input type="text" id="related_identifier" name="related_identifier" class="input-text-long" value="<%= @work.resource.related_objects %>" />
  </div>