<!-- Related Objects section -->
<div class="section-title">
  <b>Related Objects (i.e., published dependencies)</b>
</div>

<div class="related-objects">
  <table id="related-objects-table">
    <tbody id="related-objects-table-body">
      <tr class="header-row">
        <th>Related Identifier (Example: URI for a related publication or resource)</th>
        <th>Related Identifier Type</th>
        <th>Relation Type</th>
      </tr>
    </tbody>
  </table>
</div>

<script>
  document.relatedObjects = <%= @work.resource.related_objects.map {|h| h.instance_values }.to_json.html_safe %>;
</script>

<!-- Let the user add new related objects -->
<div>
  <%= link_to "Add Another Related Object", "#", id: "btn-add-related-object", class: "btn btn-secondary" %>
</div>
