  <!-- Canonical ROR is a URL, so do not include protocol or hostname. -->
  <a href="<%= ror_link %>" target="_blank"><%= ror_name %>
      <!-- Logo from https://ror.readme.io/docs/ror-id-display-guidelines-and-logos#inline-ror-id -->
      <img alt="ROR Logo" src="https://raw.githubusercontent.com/ror-community/ror-logos/main/ror-icon-rgb.svg" height="24" />
  </a>
