<div id="activity-history">
  <% if @work.work_activity.count > 0 %>
    <h2>Activity History</h2>
    <% @work.activities.each do |activity| %>
      <%= render partial: 'work_activity', locals: {
        activity: activity,
        event_type: ['CHANGES', 'FILE-CHANGES'].include?(activity.activity_type) ? 'log' : 'comment'
      } %>
    <% end %>
  <% end %>
</div>
