<div>
  <h2>Messages</h2>
  <% if @comments.size == 0 %>
    No messages
  <% end %>
  <% @comments.each do |activity| %>
    <%= render partial: 'work_activity', locals: {
      activity: activity,
      event_type: activity.event_type
    } %>
  <% end %>

  <h2>Change History</h2>
  <% if @changes.size == 0 %>
    No activity
  <% end %>
  <% @changes.each do |activity| %>
    <%= render partial: 'work_activity', locals: {
      activity: activity,
      event_type: activity.event_type
    } %>
  <% end %>
</div>
