<div id="activity-history">
  <% if @work.work_activity.count > 0 %>
    <h2>Activity History</h2>
    <div class="form-check form-switch">
      <input id="show-change-history" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
      <label class="form-check-label" for="flexSwitchCheckDefault">Show change history</label>
    </div>
    <% @work.activities.each do |activity| %>
      <% if activity.activity_type == 'CHANGES' || activity.activity_type == 'FILE-CHANGES' %>
        <%= render partial: 'work_activity_event', locals: {event_type: 'log', activity: activity} %>
      <% else %>
        <%= render partial: 'work_activity_event', locals: {event_type: 'comment', activity: activity} %>
      <% end %>
    <% end %>
  <% end %>
</div>
