<div>
  <h2>Comments</h2>
  <% @work.activities.select{|activity| activity.activity_type == 'SYSTEM' }.each do |activity| %>
    <%= render partial: 'work_activity', locals: {
      activity: activity,
      event_type: 'comment'
    } %>
  <% end %>

  <h2>Activity History</h2>
  <% @work.activities.select{|activity| activity.activity_type != 'SYSTEM' }.each do |activity| %>
    <%= render partial: 'work_activity', locals: {
      activity: activity,
      event_type: 'log'
    } %>
  <% end %>
</div>
