<style>
  .input-text-long {
    width: 700px;
  }

  .section-title {
    padding-top: 20px;
  }

  .doi-text {
    font-size: large;
    font-style: italic;
  }

  .add-title-button {
    color: #0c68f0;
    font-weight: bold;
    font-size: 19px;
  }
</style>

<div class="wizard-area">
  <% if @wizard_mode %>
    <h1>New Submission</h1>
    <%= render "wizard_progress", wizard_step: 1 %>
  <% else %>
    <h1>Editing Dataset</h1>
  <% end %>
  <%= render 'form' %>
</div>
<%= render 'edit_javascript' %>
