<style>
  .input-text-long {
    width: 700px;
  }

  .input-text-year {
    width: 70px;
  }

  .section-title {
    padding-top: 20px;
  }

  .doi-text {
    font-size: large;
    font-style: italic;
  }

  .add-title-button {
    color: #0c68f0;
    font-weight: bold;
    font-size: 22px;
  }
</style>

<div class="wizard-area">
  <h1>Create a Dataset</h1>
  <%= render 'form' %>
</div>

<%= javascript_include_tag 'edit_utils' %>
