<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PDC Describe: Submission Returned</h1>
    <section>
      <p>
        <span>Hello <%= @user.given_name %>,</span>
        <span>Your submission <a href='<%= @url %>'><%= @work_title %><a> has been returned to a draft state. You can edit the files and information. Please see the curators follow up email(s) or chat box message(s) for more information.</span>
        <p>Once you are done with edits and are ready to move forward with publishing, just click “Complete” on the top of the data submission page. Your curator will review any changes before proceeding with the data publication.</p>
        <span>Feedback? Answer this <a href='https://princetonsurvey.az1.qualtrics.com/jfe/form/SV_8dmxZjvhlF41jD0'>2 minute survey</a> to help PDC improve for users like you.</span>
      </p>
    </section>
    <section>
      <p>
        <span>Gratefully,</span>
        <span>Research Data and Scholarship Services</span>
        <span>Princeton University Library</span>
      </p>
    </section>
  </body>
</html>
