<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PDC Describe: Submission Ready for Review</h1>
    <section>
      <p>
        <span>Hello <%= @user.given_name %>,</span>
        <p>Your submission <a href='<%= @url %>'><%= @work_title %></a> has been received, a curator will be assigned shortly and begin the curatorial review process. We will review the files and metadata and may recommend changes to maximize the reusability, transparency, and the accessibility of your dataset. The review typically takes 5 to 10 business days.</p>
      </p>
    </section>
    <section>
      <p>
        <span>If you will need to embargo your dataset or need the data to be available for peer review, please include a note in dataset chat box.</span>
        <span>Feedback? Answer this <a href='https://princetonsurvey.az1.qualtrics.com/jfe/form/SV_8dmxZjvhlF41jD0'>2 minute survey</a> to help PDC improve for users like you.</span>
      </p>
    </section>
    <section>
      <p>
        <span>Gratefully,</span>
        <span>Research Data and Scholarship Services</span>
        <span>Princeton University Library</span>
      </p>
    </section>
  </body>
</html>