<header>
  <div class="p-5 text-left bg-light">
    <%= link_to "PDC Describe", root_path, class: 'navbar-logo' %>
    <div class="menu">
      <%= link_to "About", "/about", :class => "btn btn-primary", :role => "button" %>
    </div>
  </div>
</header>
