<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.uid %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "My Dashboard", user_path(current_user), class: "dropdown-item" %>
    <%= link_to "Log Out", main_app.destroy_user_session_path, class: 'dropdown-item' %>
  </div>
</div>
