<div>
  <h2><strong>Need help?</strong></h2>
    <p>For general help with data submissions, please contact <%= link_to "prds@princeton.edu", "mailto:prds@princeton.edu" %></p>

  <h2><strong>Who do I contact for assistance?</strong></h2>
    <p>The research data repository has submission portals which are managed separately. You may contact the appropriate management point to request assistance.</p>

  <h4>Princeton Research Data Service (PRDS)</h4>
    <p>Provides submission access and curatorial services for the main collections of research data that are discoverable in this repository. Contact: <%= link_to "prds@princeton.edu", "mailto:prds@princeton.edu" %>.</p>

  <h4>Princeton Plasma Physics Laboratory (PPPL)</h4>
  <p>Provides submission access and assistance for the Princeton Plasma Physics Laboratory collections of research data that are discoverable in this repository. Contact: <%= link_to "publications@pppl.gov", "mailto:publications@pppl.gov" %>.</p>

  <h4>Globus Support</h4>
  <p>If you are experiencing issues accessing or uploading data in the Princeton Data Commons Globus endpoints, please open a ticket with Library IT by emailing <%= link_to "lsupport@princeton.edu", "mailto:lsupport@princeton.edu" %>. Library IT can provide support for Princeton Data Commons Globus issues during business hours, Monday through Friday, 9:00AM - 5:00PM Eastern Time, excluding University holidays. We will respond to support requests received outside of business hours on the next business day.</p>
  <p>The Globus endpoints will occasionally need to be temporarily unavailable for scheduled or emergency maintenance. We will announce scheduled maintenance windows on the Princeton Data Commons homepage with as much advance notice as possible. In the case of emergency outages, we will also provide information and updates on the Princeton Data Commons homepage.</p>
</div>
