<h1>How to Submit to Princeton's Research Data Repository</h1>
<h2>Who can submit to this repository?</h2>
<p>All faculty, staff and students of Princeton University are welcome to submit their digital research data and code to Princeton's PDC Research Data Repository.</p>
<h2>How to get started</h2>
<p>See <%= link_to('Getting Started as a Princeton Data Commons Contributor', 'https://researchdata.princeton.edu/research-lifecycle-guide/getting-started-dataspace-contributor#Submission+Process+Overview') %> for more detailed instructions.</p>

<ol>
  <li>Prepare your files: Ensure data is suitable for public release, in accessible formats, adequately documented, and compressed as needed.</li>
  <li>Log in to PDC Describe: Log in using your NetID and set up your Profile.</li>
  <li>Create a new item and fill out Metadata fields: start a new submission from your dashboard, this will create a draft DOI for the new submission. Fill out the “Required” and “Additional” Metadata fields in the webform.</li>
  <li>Upload a Readme file and data files: Upload a README file to reiterate and supplement the metadata completed in the online form. Upload data/code files that are under 100MB directly to the webform. If larger than 100MB, describe where your files are located and how to retrieve them, in the field provided (see our <%= link_to('considerations for large datasets', 'https://researchdata.princeton.edu/research-lifecycle-guide/publishing-large-datasets') %>).</li>
  <li>Submit for curatorial review: You must complete your submission through the web portal in order for the curation of your dataset to begin. The review process typically takes 2-5 business days.</li>
  <li>Receive notice of publication: The PDC Describe system will notify you when your item has been accepted, and the curators will follow up with a confirmation email including relevant details and links.</li>
</ol>