<% if current_user %>
  <div class="content">
    <h2>
      Welcome, <%= current_user.given_name_safe %>
      <% if current_user.super_admin? %>
        <span id="admin-badge" class="badge rounded-pill bg-primary">Administrator</span>
      <% elsif current_user.moderator? %>
        <span id="moderator-badge" class="badge rounded-pill bg-primary">Moderator</span>
      <% end %>
    </h2>
    <%= link_to "My Dashboard", user_path(current_user), class: "btn btn-primary" %>
    <% if current_user.super_admin? || current_user.moderator?%>
      <%= link_to "My Reports", reports_dataset_list_path, class: "btn btn-primary" %>
    <%end%>
  </div>
<% else %>
  <div>
    <p>Welcome to PDC Describe, please <%= link_to "log in", user_cas_omniauth_authorize_path %> to view or create new datasets</p>
  </div>
<% end %>
