<h1>PDC Describe</h1>

<% if current_user %>
    <div>
        Welcome: <%= current_user.email %>
    </div>
<% else %>
    <div>
        Please sign-in (good luck)

        <%= button_to "Login", user_cas_omniauth_authorize_path %>

    </div>
<% end %>

