production: &production
  host: <%= ENV['PDC_REDIS_URL'] || 'localhost' %>
  port: <%= ENV['PDC_REDIS_PORT'] || '6379' %>
  db: <%= ENV['PDC_REDIS_DB'] || 0 %>
staging:
  <<: *production
development:
  <<: *production
test:
  <<: *production
