@import "./variables/typography.scss";

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-height: 100%;
  padding: 20px;
  font-family: "Open Sans", sans-serif;

  .field {
    padding: 10px 0px;
    label {
      font-weight: bold;
    }
  }
}
