.nav-pills .nav-link {
  background-color: rgb(248, 249, 250) !important; // rgb for btn-light
  margin: 1px;
}
.nav-pills .nav-link.active {
  background-color: #d5712cff !important;
  color: #ffffff !important;
}

.nav-link {
  color: #434343 !important;
  font-weight: bold;
}

#v-pills-curator-controlled-tab.nav-link.active {
  background-color: #666666ff !important;
}
