@import "./variables/typography.scss";

#footer {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  border-top: #cecece solid 15px;
  border-bottom: #cecece solid 3px;
  .content {
    background-color: #ffffff;
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .pul-accessible {
      a {
        color: #000000;
        text-decoration: none;
        margin: 0px 0px 0px 10px;

        &:hover {
          text-decoration: underline;
        }

        &::after {
          background-image: asset_url("open-icon.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          display: inline-block;
          height: 12px;
          margin-left: 8px;
          position: relative;
          width: 12px;
        }
      }
    }

    img {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 200px;
    }

    a {
      margin: 1rem;

      @media all and (max-width: 764px) {
        flex-basis: calc(50% - 2rem);
      }

      @media all and (min-width: 765px) {
        flex-basis: calc(25% - 2rem);
      }
    }
  }
}

#copyright {
  font-family: "Open Sans", sans-serif;
  background-color: #cecece;
  width: 100%;
  padding-right: 10px;
  text-align: right;
  font-size: 10px;
}

.deployment-version {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  font-size: 14px;
  padding: 5px;
}
