@import "./variables/typography.scss";

header {
  font-family: "Open Sans", sans-serif;
  .navbar-logo {
    background-image: asset_url("logo.png");
    background-size: cover;
    display: block;
    height: 80px;
    width: 500px;
    margin: 20px 0px;
    font-size: 0px;
  }

  .about,
  .groups,
  .how-to-submit,
  .help {
    background-color: #595959;
    border-color: #686868;
  }

  .log-in,
  .log-out,
  .current-user {
    background-color: #3f76ca;
    border-color: #3f76ca;
  }

  .menu {
    float: right;

    nav {
      float: left;
      padding: 0px 5px;
    }
  }

  .user-actions {
    float: right;
  }
}
