@import "./variables/typography.scss";

header {
  font-family: "Open Sans", sans-serif;
  .navbar-logo {
    background-image: asset_url("logo.png");
    background-size: cover;
    display: block;
    height: 80px;
    width: 500px;
    margin: 20px 0px;
    font-size: 0px;
  }

  .btn-primary {
    background-color: #f57e21;
    border-color: #914810;
  }

  .about,
  .groups {
    background-color: #999999ff;
    border-color: #686868;
  }

  .how-to-submit {
    background-color: #666666ff;
    border-color: #686868;
  }

  .log-in,
  .log-out,
  .current-user {
    background-color: #467dd1ff;
    border-color: #3864a7;
  }

  .menu {
    float: right;

    nav {
      float: left;
      padding: 0px 5px;
    }
  }

  .user-actions {
    float: right;
  }
}
