@import "components/works/_form.scss";

.embargo {
  &-heading {
    display: inline-block;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    text-align: center;

    .badge {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: #ffecbd;
      color: #705000;
      border-color: transparent;
    }
  }
}

.uploads {
  .h2 {
    font-weight: 600;
  }

  &-section {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    &-table {
      .h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
      }

      &__head {
        text-transform: uppercase;
      }
    }
  }
}
