.uploads {
  .h2 {
    font-weight: 600;
  }

  &-section {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    &-table {
      .h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
      }

      &__head {
        text-transform: uppercase;
      }
    }
  }
}
