.uploads {
  .h2 {
    font-weight: 600;
  }

  .files-section {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    .files {
      .h3 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
      }

      #files-table {
        thead {
          text-transform: uppercase;
        }
      }
    }
  }
}
