/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "variables/typography.scss";
@import "components/container.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/works.scss";
@import "components/users.scss";

.hidden {
  display: none;
}

.delete_icon {
  color: #bb6c6c;
}

.required-field {
  color: #d71616;
}

.wizard-area {
  max-width: 960px; /* does this value need bang important too? */
}

.wizard-next-button {
  float: right;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.wizard-radio-button {
  margin-right: 5px;
}

/*
 *  Uses CSS flexbox https://www.w3schools.com/csS/css3_flexbox.asp
 */
.wizard-progress {
  display: flex;
}

.wizard-step {
  margin-right: 10px;
}
.wizard-step-info {
  font-size: smaller;
}

.wizard-step-bar {
  background-color: #f6d69e;
  width: 80px;
  height: 15px;
  display:block;
  border-radius: 5px;
}

.wizard-step-bar-active {
  background-color: #c28f36;
  width: 80px;
  height: 15px;
  display:block;
  border-radius: 5px;
}

.field-hint {
  font-size: smaller;
}

.orcid-label {
  color:#a4a4a4;
  margin-top: -10px;
  margin-bottom: 0px;
}

.dataset-section {
  background-color: rgb(226, 223, 223);
  margin-top: 25px !important;
  margin-bottom: 25px;
}

.dashboard-options {
  margin-top: -5px;
  margin-bottom: -25px;
}

.dataset-table {
  margin-left: 10px;
}

.error_box {
  background-color: #ffebeb;
  border-radius: 12px;
  padding-left: 10px;
}

.input-version {
  width: 100px;
}

.file-deleted-icon {
  color:#f94a4a;
  font-size: 18px;
}

.file-added-icon {
  color:#27c0fb;
  font-size: 18px;
}

input[readonly] {
  border-width: 1px;
  border-style: solid;
  background: #f4f4f4;
}

.activity-history-item .comment-html {
  // For all fields we just do a string diff; 
  // For arrays, we join the values with "\n",
  // but we need to make sure this is preserved when rendered.
  white-space: pre-wrap;
  del {
    background-color: #EE9090;
  }
  ins {
    background-color: #90EE90;
  }
}

details {
  font-size: smaller;

  // A different style could be applied when the component is open.
  // &[open] summary::after { }

  summary {
    font-size: medium;
    font-weight: bold;
    list-style-type: none;

    &::after {
      content: '?';
      font-weight: bold;
      padding: 0rem .25rem;
      background-color: #0d6efd;
      color: #fff;
      border-radius: .25rem;
      border: 0;
      margin-left: 0.5rem;
    }
  }
}

.copy-doi-label-normal {
  font-size: 8pt;
  color: #212529;
}

.copy-doi-label-copied {
  font-size: 8pt;
  color: green;
}
