/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "variables/typography.scss";
@import "components/container.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/works.scss";
@import "components/users.scss";
@import "components/nav.scss";


#pdc-discovery-label {
  float: left;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.welcome-headers, #welcome-to-pdc {
  font-size: 2rem !important;
}

.welcome-headers {
  margin: 2.5rem 0 1.5rem 0;
}

.homepage-bullet-points {
  margin: 1rem 0 3rem 0;
  li {
    line-height: 2rem;
  }
}

ol > li::marker {
  text-shadow: 1px 0 #000;
  font-weight: bold;
}

.strong {
  text-shadow: 1px 0 #000;
  letter-spacing: 1px;
  font-weight:bold;
}

ul li {
  list-style-type: disc;
}

.hidden {
  display: none;
}

.delete_icon {
  color: #bb6c6c;
}

.required-field {
  color: #d71616;
}

.required-field-star {
  font-size: 1.5em;
}

.wizard-area {
  max-width: 960px; /* does this value need bang important too? */
}

.wizard-next-button {
  float: right;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.btn-secondary.migrate-button {
  float: right;
  margin-right: 1em;
  background-color: #0d6efd;
}

.wizard-radio-button {
  margin-right: 5px;
}

/*
 *  Uses CSS flexbox https://www.w3schools.com/csS/css3_flexbox.asp
 */
.wizard-progress {
  display: flex;
}

.wizard-step {
  margin-right: 10px;
}
.wizard-step-info {
  font-size: smaller;
}

.wizard-step-bar {
  background-color: #d9d9d9ff;
  width: 80px;
  height: 15px;
  display: block;
  border-radius: 5px;
}

.wizard-step-bar-active {
  background-color: #467dd1ff;
  width: 80px;
  height: 15px;
  display: block;
  border-radius: 5px;
}

.field-hint {
  font-size: smaller;
}

.dataset-section {
  background-color: rgb(226, 223, 223);
  margin-top: 25px !important;
  margin-bottom: 25px;
}

.dataset-section-no-works {
  background-color: rgb(247, 177, 177);
  margin-top: 25px !important;
  margin-bottom: 25px;
}

.dashboard-options {
  margin-top: -5px;
  margin-bottom: -25px;
}

.dataset-table {
  margin-left: 10px;
}

.error_box {
  background-color: #ffebeb;
  border-radius: 12px;
  padding-left: 10px;
}

.input-version {
  width: 100px;
}

.file-deleted-icon {
  color: #f94a4a;
  font-size: 18px;
}

.file-added-icon {
  color: #27c0fb;
  font-size: 18px;
}

input[readonly] {
  border-width: 1px;
  border-style: solid;
  background: #f4f4f4;
}

.activity-history-item .message-html {
  // For all fields we just do a string diff;
  // For arrays, we join the values with "\n",
  // but we need to make sure this is preserved when rendered.
  white-space: pre-wrap;
  del {
    background-color: #ee9090;
  }
  ins {
    background-color: #90ee90;
  }
}

#toggle-messages {
  background-color: #0d6efd;
}

#new-message-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

details {
  font-size: smaller;

  // A different style could be applied when the component is open.
  // &[open] summary::after { }

  summary {
    font-size: medium;
    font-weight: bold;
    list-style-type: none;

    &::after {
      content: "See more";
      font-weight: bold;
      padding: 0rem 0.25rem;
      background-color: #0d6efd;
      color: #fff;
      border-radius: 0.25rem;
      border: 0;
      margin-left: 0.5rem;
      white-space: nowrap;
    }
  }

  summary.show-changes {
    font-weight: normal;
    &::after {
      content: "Show Changes";
    }
  }

  summary.remove-see-more {
    &::after {
      display: none;
    }
  }
  summary .summary-detail {
    font-weight: normal;
    display: block;
  }
}

.copy-doi-label-normal {
  font-size: 8pt;
  color: #212529;
}

.copy-doi-label-copied {
  font-size: 8pt;
  color: green;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
}

.search-form > form {
  margin-bottom: -20px;
  & > input[type="text"] {
    width: 300px;
  }
}

dl {
  display: grid;
  grid-template-columns: max-content auto;

  dt {
    grid-column-start: 1;
    margin-right: 1em;
    &::after {
      content: ":";
    }
  }

  dd {
    grid-column-start: 2;
    width: calc(100% - 10rem);
    word-wrap: break-word;
  }
}

ul.beads {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 2px solid;
  li {
    list-style: none;
  }
  li::before {
    content: "⦁";
    margin-left: -1em;
    font-size: 150%;
  }
}

ul.no-beads {
  padding-left: 0;
  li {
    list-style: none;
    border: 1px solid #dddcdc;
    border-radius: 0.25rem;
    margin-bottom: 5px;
    padding: 5px;
  }
}

input:invalid {
  box-shadow: 0 0 10px red;
}

th {
  font-size: smaller;
}

.btn-del-row::before {
  color: #bb6c6c;
  cursor: pointer;
}

.bi-arrow-down-up::before {
  color: grey;
  cursor: move;
}

.file-upload {
  margin-bottom: 3.27em;
}

.actions {
  margin-top: 2em;
}

.actions .btn-secondary {
  background-color: #666666ff;
}

.actions .btn-previous {
  background-color: lightgray;
  margin-right: 0.5em;
}

.actions .btn-save {
  margin-right: 0.5em;
  border-color: black;
}

.actions .btn-primary {
  background-color: #467dd1ff;
  margin-right: 0.5em;
}

.submit-ordered-list {
  padding: 0em 3em;
}

div.form-subcommunities {
  display: grid;

  @media all and (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  @media all and (max-width: 765px) and (min-width: 481px) {
    grid-template-columns: 1fr 1fr;
  }

  @media all and (min-width: 765px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

div.form-subcommunities .form-check{
  padding: 0em 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.hidden-element {
  display: none;
}

table.dataTable {
  overflow-wrap: anywhere
}

.user-edit-long-field {
  width: 400px;
}
